﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


        <ul class="nav navbar-nav navbar-middle">
            <li>
                @Html.ActionLink("Show Weapons", "Index", "Weapons")
            </li>
            <li>
                @Html.ActionLink("Show Fighters", "Index", "Fighters")
            </li>
        </ul>

}

